* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style-type: none;
}

@font-face {
  font-family: Exo2;
  src: url("../assets/fonts/Exo2-SemiBold.otf");
}
@font-face {
  font-family: PT_Sans;
  src: url("../assets/fonts/PTSans-Regular.ttf");
}
.container {
  max-width: 1240px;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
    padding: 0 39px;
  }
}
@media only screen and (max-width: 375px) {
  .container {
    max-width: 375px;
    margin: 0 auto;
    padding: 0 15px;
  }
}
header {
  padding: 25px 0;
}
header nav .header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .header-wrapper h5 {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 36px */
}
header nav .header-wrapper ul {
  display: flex;
  align-items: center;
  gap: 50px;
}
header nav .header-wrapper ul li a {
  color: #000;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
header nav .header-wrapper .header--menu_btn {
  display: none;
}

@media only screen and (max-width: 768px) {
  header {
    padding: 17px 0;
  }
  header nav .header-wrapper ul {
    display: none;
  }
  header nav .header-wrapper .header--menu_btn {
    display: block;
  }
}
@media only screen and (max-width: 375px) {
  header {
    padding: 9px 0;
  }
  header nav .header-wrapper h5 {
    font-size: 20px;
  }
  header nav .header-wrapper ul {
    display: none;
  }
  header nav .header-wrapper .header--menu_btn {
    display: block;
  }
}
#intro {
  margin-top: 30px;
}
#intro .container .intro--wrapper-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#intro .container .intro--wrapper-top .intro--wrapper_left h3 {
  color: var(--main-font, #363738);
  font-family: Exo2;
  font-size: 52px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 65px */
  margin-bottom: 40px;
}
#intro .container .intro--wrapper-top .intro--wrapper_left p {
  max-width: 525px;
  color: var(--additional-font, #6B6B6C);
  font-family: PT_Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  margin-bottom: 40px;
}
#intro .container .intro--wrapper-top .intro--wrapper_left a {
  color: var(--main-font, #363738);
  font-family: PT_Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 24px */
  width: 105px;
  height: 17px;
  flex-shrink: 0;
  padding-bottom: 5px;
  border-bottom: 4px solid #FFCE50;
}
#intro .container .intro--wrapper-top .intro--wrapper_right {
  width: 635px;
  height: 505px;
  flex-shrink: 0;
}
#intro .container .intro--wrapper-bottom {
  margin-top: 67px;
  width: 100%;
  padding: 40px 80px;
  display: grid;
  justify-content: space-between;
  grid-template-rows: 261px;
  border-radius: 20px;
  background: #FFF;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
  grid-template-columns: 333px 333px 333px;
}
#intro .container .intro--wrapper-bottom .card {
  width: 100%;
}
#intro .container .intro--wrapper-bottom .card img {
  margin-bottom: 24px;
}
#intro .container .intro--wrapper-bottom .card h4 {
  color: var(--main-font, #363738);
  font-family: Exo2;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 135%; /* 27px */
  width: 228px;
  flex-shrink: 0;
  margin-bottom: 16px;
}
#intro .container .intro--wrapper-bottom .card p {
  width: 225px;
  height: 65px;
  flex-shrink: 0;
  color: var(--additional-font, #6B6B6C);
  font-family: PT_Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
#intro .container .intro--wrapper-bottom .card:nth-child(1) {
  padding-right: 105px;
  border-right: 1px solid #D7D7DD;
}
#intro .container .intro--wrapper-bottom .card:nth-child(2) {
  padding-left: 64px;
  border-right: 1px solid #D7D7DD;
}
#intro .container .intro--wrapper-bottom .card:nth-child(3) {
  padding-left: 64px;
}

@media only screen and (max-width: 768px) {
  #intro .container .intro--wrapper-top {
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  #intro .container .intro--wrapper-top .intro--wrapper_left h3 {
    font-size: 44px;
    margin-bottom: 49px;
  }
  #intro .container .intro--wrapper-top .intro--wrapper_left p {
    margin: 0 auto;
    max-width: 690px !important;
    font-size: 16px;
    margin-bottom: 44px;
  }
  #intro .container .intro--wrapper-top .intro--wrapper_right img {
    margin-top: 83px;
    width: 690px;
    height: 314px;
    object-fit: cover;
    padding-right: 40px;
  }
  #intro .container .intro--wrapper-bottom {
    margin-top: 41px !important;
    box-shadow: 0px 0px 0px 0px !important;
    grid-template-columns: 690px;
    grid-template-rows: 164px 164px 164px;
    padding: 0 !important;
  }
  #intro .container .intro--wrapper-bottom .card {
    padding: 32px !important;
    margin-bottom: 16px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.12);
    display: flex;
    gap: 32px;
    align-items: center;
  }
  #intro .container .intro--wrapper-bottom .card img {
    width: 92px;
    height: 92px;
    flex-shrink: 0;
    object-fit: cover;
  }
  #intro .container .intro--wrapper-bottom .card div h4 {
    width: 359px;
    font-size: 20px !important;
    margin-bottom: 20px !important;
  }
  #intro .container .intro--wrapper-bottom .card div p {
    width: 394px;
    font-size: 16px;
  }
}
@media only screen and (max-width: 375px) {
  #intro {
    margin-top: 20px;
  }
  #intro .container .intro--wrapper-top {
    flex-direction: column;
  }
  #intro .container .intro--wrapper-top .intro--wrapper_left {
    text-align: start;
  }
  #intro .container .intro--wrapper-top .intro--wrapper_left h3 {
    font-size: 28px;
    margin-bottom: 32px;
  }
  #intro .container .intro--wrapper-top .intro--wrapper_left p {
    font-size: 15px;
    height: 70px;
    overflow: hidden;
    margin-bottom: 32px;
  }
  #intro .container .intro--wrapper-top .intro--wrapper_right img {
    width: 345px;
    height: 253px;
    flex-shrink: 0;
    padding: 0 !important;
  }
  #intro .container .intro--wrapper-bottom {
    margin-top: 58px !important;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15) !important;
    padding: 24px 32px !important;
    grid-template-columns: 286px !important;
    grid-template-rows: 220px 220px 220px !important;
  }
  #intro .container .intro--wrapper-bottom .card {
    padding: 0 !important;
    margin-bottom: 0;
    height: 100% !important;
    border: none !important;
    box-shadow: 0px 0px 0px 0px !important;
    background: transparent !important;
    display: block;
  }
  #intro .container .intro--wrapper-bottom .card img {
    width: 68px;
    height: 68px;
    flex-shrink: 0;
    margin-bottom: 16px;
  }
  #intro .container .intro--wrapper-bottom .card div h4 {
    width: 218px !important;
    font-size: 18px !important;
    margin-bottom: 0 !important;
  }
  #intro .container .intro--wrapper-bottom .card div p {
    width: 286px !important;
    font-size: 15px !important;
  }
}
#profitable {
  margin-top: 67px;
}
#profitable .container .profitable-wrapper--top {
  position: relative;
  margin-bottom: 60px;
  overflow: hidden;
  background-image: url(../../assets/images/profitable.jpg);
  width: 100%;
  height: 423px;
}
#profitable .container .profitable-wrapper--top h4 {
  top: 178px;
  left: 90px;
  position: absolute;
  color: var(--white, #FFF);
  font-family: Exo2;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 60px */
  width: 362px;
  height: 109px;
  flex-shrink: 0;
}
#profitable .container .profitable-wrapper--bottom {
  display: grid;
  grid-template-columns: 450px 450px;
  grid-template-rows: 90px 90px;
  justify-content: center;
  row-gap: 100px;
  column-gap: 160px;
}
#profitable .container .profitable-wrapper--bottom .card {
  display: flex;
  align-items: center;
  gap: 40px;
}
#profitable .container .profitable-wrapper--bottom .card div h4 {
  color: var(--main-font, #363738);
  font-family: Exo2;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 135%; /* 27px */
  margin-bottom: 13px;
}
#profitable .container .profitable-wrapper--bottom .card div p {
  color: var(--additional-font, #6B6B6C);
  font-family: PT_Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

@media only screen and (max-width: 768px) {
  #profitable .container .profitable-wrapper--top {
    margin-bottom: 48px;
    background-size: cover;
    background-position: left center;
  }
  #profitable .container .profitable-wrapper--top img {
    width: 500px;
    height: 443px;
  }
  #profitable .container .profitable-wrapper--top h4 {
    left: 55px;
    top: 112px;
    width: 288px;
    height: 165px;
    flex-shrink: 0;
    font-size: 44px;
  }
  #profitable .container .profitable-wrapper--bottom {
    grid-template-columns: 500px !important;
  }
}
@media only screen and (max-width: 375px) {
  #profitable {
    margin-top: 0;
  }
  #profitable .container .profitable-wrapper--top {
    margin-top: 80px;
    height: 130px;
    margin-bottom: 0;
    background-image: none;
  }
  #profitable .container .profitable-wrapper--top img {
    display: none;
  }
  #profitable .container .profitable-wrapper--top h4 {
    position: sticky;
    color: black;
    text-align: start;
    width: 345px;
    font-size: 28px;
    flex-shrink: 0;
  }
  #profitable .container .profitable-wrapper--bottom {
    margin-top: 0 !important;
    grid-template-columns: 300px !important;
    grid-template-rows: 80px 80px 80px 80px !important;
  }
  #profitable .container .profitable-wrapper--bottom .card {
    gap: 16px;
  }
  #profitable .container .profitable-wrapper--bottom .card img {
    width: 52px;
    height: 52px;
    flex-shrink: 0;
  }
  #profitable .container .profitable-wrapper--bottom .card div h4 {
    font-size: 18px !important;
    margin-bottom: 12px !important;
  }
  #profitable .container .profitable-wrapper--bottom .card div p {
    font-size: 15px !important;
    width: 269px !important;
  }
}
#completed-work {
  margin-top: 120px;
}
#completed-work .container .title_work h4 {
  color: var(--main-font, #363738);
  font-family: Exo2;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 60px */
  margin-bottom: 32px;
}
#completed-work .container .title_work p {
  width: 460px;
  height: 41px;
  flex-shrink: 0;
  color: var(--additional-font, #6B6B6C);
  font-family: PT_Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  margin-bottom: 56px;
}
#completed-work .container .cards-wrapper {
  display: flex;
  gap: 30px;
}
#completed-work .container .cards-wrapper .card {
  width: 393px;
  height: 439px;
  border-radius: 10px;
  background: var(--white, #FFF);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.12);
}
#completed-work .container .cards-wrapper .card .card-items {
  padding: 24px 32px;
}
#completed-work .container .cards-wrapper .card .card-items h3 {
  color: var(--main-font, #363738);
  font-family: Exo2;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 135%; /* 27px */
  margin-bottom: 16px;
}
#completed-work .container .cards-wrapper .card .card-items p {
  color: var(--additional-font, #6B6B6C);
  font-family: PT_Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  width: 291px;
  height: 41px;
  flex-shrink: 0;
  margin-bottom: 32px;
}
#completed-work .container .cards-wrapper .card .card-items p strong {
  color: var(--main-font, #363738);
  font-family: Exo2;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 135%; /* 21.6px */
  padding-bottom: 5px;
  border-bottom: 2px solid #FFCE50;
}

@media only screen and (max-width: 768px) {
  #completed-work .container .title_work {
    margin-bottom: 40px;
  }
  #completed-work .container .title_work h4 {
    font-size: 44px;
    margin-bottom: 32px;
  }
  #completed-work .container .title_work p {
    font-size: 16px;
  }
  #completed-work .container .cards-wrapper {
    flex-direction: column;
    gap: 32px;
  }
  #completed-work .container .cards-wrapper .card {
    width: 690px;
    height: 422px;
    flex-shrink: 0;
  }
  #completed-work .container .cards-wrapper .card img {
    width: 690px;
    height: 247px;
    flex-shrink: 0;
    object-fit: cover;
  }
  #completed-work .container .cards-wrapper .card .card-items p {
    width: 529px;
    height: 16px;
    flex-shrink: 0;
    font-size: 16px;
  }
  #completed-work .container .cards-wrapper .card:nth-child(3) {
    display: none;
  }
}
@media only screen and (max-width: 375px) {
  #completed-work .container .title_work {
    margin-bottom: 32px;
  }
  #completed-work .container .title_work h4 {
    font-size: 28px;
    margin-bottom: 24px;
  }
  #completed-work .container .title_work p {
    width: 344px;
    height: 62px;
    flex-shrink: 0;
  }
  #completed-work .container .cards-wrapper .card:nth-child(2) {
    display: none;
  }
  #completed-work .container .cards-wrapper .card {
    width: 345px;
    height: 424px;
    flex-shrink: 0;
  }
  #completed-work .container .cards-wrapper .card img {
    width: 345px;
    height: 222px;
    flex-shrink: 0;
  }
  #completed-work .container .cards-wrapper .card .card-items h3 {
    font-size: 18px;
    margin-bottom: 16px;
  }
  #completed-work .container .cards-wrapper .card .card-items p {
    width: 291px;
    height: 39px;
    flex-shrink: 0;
    font-size: 15px;
  }
}
#clients {
  margin-bottom: 120px;
  margin-top: 200px;
}
#clients .container .clients-wrapper {
  padding: 85px 66px;
  display: flex;
  width: 100%;
  height: 917px;
  flex-shrink: 0;
  background: var(--green, #0B7572);
}
#clients .container .clients-wrapper h6 {
  color: var(--white, #FFF);
  font-family: "Exo 2";
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 60px */
}
#clients .container .clients-wrapper .clients_form {
  width: 652px;
  height: 747px;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--white, #FFF);
  padding: 28px 41px;
}
#clients .container .clients-wrapper .clients_form .title {
  display: flex;
  justify-content: space-between;
  padding-bottom: 32px;
  border-bottom: 1px solid #D7D7DD;
  margin-bottom: 32px;
}
#clients .container .clients-wrapper .clients_form .title p {
  color: var(--additional-font, #6B6B6C);
  font-family: PT_Sans;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 16.5px */
  width: 274px;
  height: 62px;
  flex-shrink: 0;
}
#clients .container .clients-wrapper .clients_form .clients_table tbody tr th {
  height: 45px;
  color: white;
  background: #0B7572;
  padding: 0 36px;
  color: var(--white, #FFF);
  font-family: Exo2;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
}
#clients .container .clients-wrapper .clients_form .clients_table tbody tr td {
  padding: 24px 16px;
}
#clients .container .clients-wrapper .clients_form .clients_table tbody tr td p {
  color: var(--additional-font, #6B6B6C);
  font-family: PT_Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%; /* 18.9px */
  margin-bottom: 10px;
}
#clients .container .clients-wrapper .clients_form .clients_table tbody tr td h4 {
  color: var(--main-font, #363738);
  font-family: PT_Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 135%; /* 18.9px */
  margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
  #clients {
    margin-bottom: 88px;
  }
  #clients .container .clients-wrapper {
    height: 971px;
    flex-shrink: 0;
    flex-direction: column;
    gap: 48px;
    padding: 64px 39px !important;
  }
  #clients .container .clients-wrapper h6 {
    width: 328px;
    height: 100px;
    flex-shrink: 0;
  }
  #clients .container .clients-wrapper .clients_form {
    width: 617px !important;
    height: 725px !important;
    flex-shrink: 0;
    padding: 24px 40px;
  }
  #clients .container .clients-wrapper .clients_form .title p {
    font-size: 11px;
  }
  #clients .container .clients-wrapper .clients_form table tr th {
    font-size: 16px;
  }
}
@media only screen and (max-width: 375px) {
  #clients .container .clients-wrapper {
    gap: 0px;
    padding: 32px 15px;
    height: 820px;
  }
  #clients .container .clients-wrapper h6 {
    text-align: start;
    font-size: 24px;
  }
  #clients .container .clients-wrapper .clients_form {
    width: 285px !important;
    height: 607px !important;
    flex-shrink: 0;
  }
  #clients .container .clients-wrapper .clients_form .title {
    margin: 0;
    padding: 0;
    display: block;
    border: none;
  }
  #clients .container .clients-wrapper .clients_form .title p {
    display: none;
  }
  #clients .container .clients-wrapper .clients_form .title img {
    width: 79px;
    height: 43.323px;
    flex-shrink: 0;
  }
  #clients .container .clients-wrapper .clients_form .title button {
    display: block;
    background: black;
    display: flex;
    width: 78px;
    height: 35px;
    flex-shrink: 0;
  }
  #clients .container .clients-wrapper .clients_table {
    padding: 0 !important;
    width: 345px !important;
  }
  #clients .container .clients-wrapper .clients_table tr {
    display: none;
  }
  #clients .container .clients-wrapper .clients_table tr:nth-child(2) {
    display: flex;
    flex-direction: column;
  }
  #clients .container .clients-wrapper .clients_table tr:nth-child(2) td {
    width: 280px !important;
  }
  #clients .container .clients-wrapper .clients_table tr:nth-child(2) td p {
    width: 200px !important;
  }
}
#stages {
  margin-bottom: 120px;
}
#stages .container h2 {
  color: var(--main-font, #363738);
  font-family: Exo2;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 60px */
  margin-bottom: 48px;
}
#stages .container .stages-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
#stages .container .stages-wrapper .card {
  display: flex;
  gap: 56px;
  padding: 32px 96px;
  width: 1183px;
  height: 245px;
  border-radius: 10px;
  background: var(--white, #FFF);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.12);
}
#stages .container .stages-wrapper .card div h4 {
  color: var(--main-font, #363738);
  font-family: Exo2;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 25px */
  margin-bottom: 24px;
}
#stages .container .stages-wrapper .card div div {
  background: #FFCE50;
  width: 86px;
  height: 3px;
  margin-bottom: 24px;
}
#stages .container .stages-wrapper .card div p {
  color: var(--additional-font, #6B6B6C);
  font-family: PT_Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  width: 568px;
  height: 88px;
  flex-shrink: 0;
}

@media only screen and (max-width: 768px) {
  #stages .container h2 {
    font-size: 44px;
  }
  #stages .container .stages-wrapper .card {
    width: 693.526px;
    height: 245px;
  }
  #stages .container .stages-wrapper .card img {
    display: none;
  }
}
@media only screen and (max-width: 375px) {
  #stages .container h2 {
    font-size: 28px;
    margin-bottom: 30px;
  }
  #stages .container .stages-wrapper .card {
    width: 338px;
    height: 206px;
    padding: 24px 45px;
  }
  #stages .container .stages-wrapper .card div {
    overflow: hidden;
  }
  #stages .container .stages-wrapper .card div div {
    display: none;
  }
  #stages .container .stages-wrapper .card div p {
    width: 266.203px !important;
    flex-shrink: 0;
    font-size: 15px;
  }
}
#trust .container h2 {
  color: var(--main-font, #363738);
  font-family: Exo2;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 60px */
  margin-bottom: 80px;
}
#trust .container .trust-wrapper {
  display: grid;
  grid-template-columns: 184px 184px 184px 184px;
  grid-template-rows: 300px 300px;
  justify-content: space-between;
  row-gap: 20px;
}
#trust .container .trust-wrapper .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#trust .container .trust-wrapper .card div {
  bottom: 200px !important;
}
#trust .container .trust-wrapper .card div h4 {
  margin-top: 32px;
  margin-bottom: 14px;
  color: var(--main-font, #363738);
  text-align: center;
  font-family: Exo2;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 135%; /* 27px */
}
#trust .container .trust-wrapper .card div p {
  color: var(--additional-font, #6B6B6C);
  text-align: center;
  font-family: PT_Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
}

@media only screen and (max-width: 768px) {
  #trust .container h2 {
    font-size: 44px;
  }
  #trust .container .trust-wrapper {
    grid-template-columns: 184px 184px !important;
    grid-template-rows: 250px 250px 250px 250px !important;
    justify-content: center;
    align-items: center;
    column-gap: 200px;
  }
}
@media only screen and (max-width: 375px) {
  #trust .container h2 {
    font-size: 28px;
  }
  #trust .container .trust-wrapper {
    row-gap: 0;
    column-gap: 0;
    grid-template-columns: 175px 175px !important;
    grid-template-rows: 190px 190px !important;
  }
  #trust .container .trust-wrapper .card div h4 {
    font-size: 16px;
  }
  #trust .container .trust-wrapper .card div p {
    font-size: 12px;
  }
  #trust .container .trust-wrapper .card:nth-child(5) {
    display: none;
  }
  #trust .container .trust-wrapper .card:nth-child(6) {
    display: none;
  }
  #trust .container .trust-wrapper .card:nth-child(7) {
    display: none;
  }
  #trust .container .trust-wrapper .card:nth-child(8) {
    display: none;
  }
}
#employees {
  margin-top: 80px;
  margin-bottom: 130px;
}
#employees .container h2 {
  color: var(--main-font, #363738);
  font-family: Exo2;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 60px */
  margin-bottom: 72px;
}
#employees .container .employes-wrapper {
  display: grid;
  grid-template-columns: 605px 605px;
  height: 210px 210px 210px;
  justify-content: space-between;
  align-items: center;
  row-gap: 22px;
}
#employees .container .employes-wrapper .card {
  display: flex;
  border-radius: 10px;
  background: var(--white, #FFF);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
#employees .container .employes-wrapper .card .card-left {
  width: 50px;
  height: 210px;
  flex-shrink: 0;
  background: #0B7572;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
#employees .container .employes-wrapper .card .card-right {
  padding: 35px;
  display: flex;
  gap: 40px;
  align-items: center;
}
#employees .container .employes-wrapper .card .card-right div h4 {
  color: var(--main-font, #363738);
  font-family: Exo2;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 12px;
}
#employees .container .employes-wrapper .card .card-right div p {
  color: var(--additional-font, #6B6B6C);
  font-family: PT_Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  margin-bottom: 16px;
}
#employees .container .employes-wrapper .card .card-right div div {
  width: 86px;
  height: 3px;
  background: #FFCE50;
  margin-bottom: 32px;
}
#employees .container .employes-wrapper .card .card-right div ul {
  display: flex;
  gap: 20px;
}
#employees .container .employes-wrapper .card .card-right div ul li a svg {
  width: 22px;
  height: 22px;
}

@media only screen and (max-width: 768px) {
  #employees .container .employes-wrapper {
    grid-template-columns: 330px 330px;
    grid-template-rows: 289px 289px;
    row-gap: 70px;
  }
  #employees .container .employes-wrapper .card:nth-child(5) {
    display: none;
  }
  #employees .container .employes-wrapper .card:nth-child(6) {
    display: none;
  }
  #employees .container .employes-wrapper .card .card-left {
    height: 315px;
  }
  #employees .container .employes-wrapper .card .card-right {
    gap: 0;
    flex-direction: column;
    gap: 24px 30px;
  }
  #employees .container .employes-wrapper .card .card-right img {
    width: 100px;
    height: 100px;
  }
  #employees .container .employes-wrapper .card .card-right div h4 {
    font-size: 20px;
    margin-bottom: 0;
  }
  #employees .container .employes-wrapper .card .card-right div p {
    font-size: 14px;
    margin-bottom: 16px;
  }
  #employees .container .employes-wrapper .card .card-right div div {
    margin-bottom: 16px;
  }
}
@media only screen and (max-width: 375px) {
  #employees {
    margin-top: 70px;
  }
  #employees .container h2 {
    font-size: 28px;
  }
  #employees .container .employes-wrapper {
    grid-template-columns: 345px;
    row-gap: 30px;
    grid-template-rows: 170px 170px 170px;
  }
  #employees .container .employes-wrapper .card:nth-child(4) {
    display: none;
  }
  #employees .container .employes-wrapper .card .card-left {
    width: 25px;
    height: 170px;
  }
  #employees .container .employes-wrapper .card .card-right {
    display: flex;
    flex-direction: row;
    padding: 24px 16px;
    gap: 15px;
  }
  #employees .container .employes-wrapper .card .card-right img {
    margin-bottom: 0 !important;
  }
  #employees .container .employes-wrapper .card .card-right div div {
    margin-bottom: 23px;
  }
  #employees .container .employes-wrapper .card .card-right div h4 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  #employees .container .employes-wrapper .card .card-right div p {
    font-size: 14px;
  }
}
#contact {
  margin-bottom: 50px;
}
#contact .container h2 {
  color: var(--main-font, #363738);
  font-family: Exo2;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 60px */
  margin-bottom: 94px;
}
#contact .container .contact-wrapper {
  display: flex;
  justify-content: space-between;
}
#contact .container .contact-wrapper .contact-left div {
  margin-bottom: 44px;
  display: flex;
  gap: 35px;
  align-items: center;
}
#contact .container .contact-wrapper .contact-left div div {
  margin-bottom: 0;
  display: block;
}
#contact .container .contact-wrapper .contact-left div div p {
  color: var(--additional-font, #6B6B6C);
  font-family: PT_Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  margin-bottom: 8px;
}
#contact .container .contact-wrapper .contact-left div div h4 {
  color: var(--main-font, #363738);
  font-family: Exo2;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
#contact .container .contact-wrapper .contact-right {
  width: 794px;
  height: 383px;
  padding: 40px 48px;
  border-radius: 5px;
  background: #F9F9FB;
}
#contact .container .contact-wrapper .contact-right div {
  border-bottom: 1px solid #E9EAF2;
  display: flex;
  padding-bottom: 2px;
  margin-bottom: 32px;
  gap: 56px;
}
#contact .container .contact-wrapper .contact-right div p:first-child {
  width: 175px;
  color: var(--additional-font, #6B6B6C);
  font-family: PT_Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 20px */
}
#contact .container .contact-wrapper .contact-right div p:last-child {
  color: var(--main-font, #363738);
  font-family: Exo2;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 20px */
  width: 443px;
  height: 35px;
  flex-shrink: 0;
}
#contact .container .contact-wrapper .contact-right div:nth-child(4) {
  margin-bottom: 15px;
}
#contact .container .contact-wrapper .contact-right div:nth-child(5) {
  margin-bottom: 0px;
  border: none;
}
#contact .container .contact-bottom {
  margin-top: 46px;
}

@media only screen and (max-width: 768px) {
  #contact .container h2 {
    display: none;
  }
  #contact .container .contact-wrapper {
    flex-direction: column;
  }
  #contact .container .contact-bottom img {
    width: 675px;
    height: 405px;
    margin: 0 auto;
    object-fit: cover;
  }
}
@media only screen and (max-width: 375px) {
  #contact .container h2 {
    display: block !important;
    font-size: 28px;
    margin-bottom: 56px;
  }
  #contact .container .contact-wrapper .contact-right {
    padding: 24px;
    width: 345px;
    height: 568px;
    flex-shrink: 0;
  }
  #contact .container .contact-wrapper .contact-right div {
    flex-direction: column;
    gap: 12px;
  }
  #contact .container .contact-wrapper .contact-right div p:last-child {
    width: 283px;
    flex-shrink: 0;
  }
  #contact .container .contact-bottom img {
    width: 327px;
    height: 196.2px;
  }
}
footer {
  background: #0B7572;
  padding: 80px 0 29px 0;
}
footer .container .footer-wrapper {
  display: flex;
  justify-content: space-between;
}
footer .container .footer-wrapper img {
  width: 176px;
  height: 70px;
}
footer .container .footer-wrapper ul li {
  margin-bottom: 25px;
}
footer .container .footer-wrapper ul li a {
  color: #FFF;
  text-align: center;
  font-family: Exo2;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 19.5px */
  letter-spacing: 2.08px;
  text-transform: capitalize;
}
footer .container .footer-wrapper div div {
  display: flex;
  gap: 15px;
  margin-bottom: 32px;
}
footer .container .footer-wrapper div div a svg {
  width: 28px;
  height: 28px;
}
footer .container .footer-wrapper div p {
  margin-top: 0;
  font-family: Exo2;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 19.5px */
  text-transform: uppercase;
  margin-bottom: 32px;
}
footer .container .footer-wrapper div button {
  width: 271px;
  height: 42px;
  background: #FF9619;
  padding: 7px 11px;
  border: none;
  color: #FFF;
  font-family: "Open Sans";
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 19.5px */
  text-transform: uppercase;
  cursor: pointer;
}
footer .container p {
  margin-top: 80px;
  text-align: center;
  color: #FFF;
  text-align: center;
  font-family: Exo2;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 18px */
  letter-spacing: 1.92px;
  text-transform: capitalize;
}

@media only screen and (max-width: 768px) {
  footer .container .footer-wrapper img {
    width: 80px;
    height: 45px;
  }
  footer .container .footer-wrapper ul li a {
    font-size: 10px;
  }
  footer .container .footer-wrapper div div a svg {
    width: 14px;
    height: 14px;
  }
  footer .container .footer-wrapper div p {
    font-size: 8px;
  }
}
@media only screen and (max-width: 375px) {
  footer .container .footer-wrapper {
    display: grid;
    grid-template-columns: 80px 80px;
  }
  footer .container .footer-wrapper img {
    display: none;
  }
  footer .container .footer-wrapper div div {
    display: none;
  }
  footer .container .footer-wrapper div p {
    width: 133px;
    text-align: center;
    margin: 0 auto;
  }
}/*# sourceMappingURL=style.css.map */