#stages{
    margin-bottom: 120px;
    .container{
        h2{
            color: var(--main-font, #363738);
            font-family: Exo2;
            font-size: 48px;
            font-style: normal;
            font-weight: 600;
            line-height: 125%; /* 60px */
            margin-bottom: 48px;
        }

        .stages-wrapper{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 25px;
            .card{
                display: flex;
                gap: 56px;
                padding: 32px 96px;
                width: 1183px;
                height: 245px;
                border-radius: 10px;
                background: var(--white, #FFF);
                box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.12);

                div{
                    h4{
                        color: var(--main-font, #363738);
                        font-family: Exo2;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 125%; /* 25px */
                        margin-bottom: 24px;
                    }

                    div{
                        background: #FFCE50;
                        width: 86px;
                        height: 3px;
                        margin-bottom: 24px;
                    }

                    p{
                        color: var(--additional-font, #6B6B6C);
                        font-family: PT_Sans;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 150%; /* 24px */
                        width: 568px;
                        height: 88px;
                        flex-shrink: 0;
                    }
                }
            }
        }
    }
}


@media only screen and (max-width: 768px) {
    #stages{
        .container{
            h2{
                font-size: 44px;
            }

            .stages-wrapper{
                .card{
                    width: 693.526px;
                    height: 245px;
                    img{
                        display: none;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 375px) {
    #stages{
        .container{
            h2{
                font-size: 28px;
                margin-bottom: 30px;
            }

            .stages-wrapper{
                .card{
                    width: 338px;
                    height: 206px;
                    padding: 24px 45px;

                    div{
                        overflow: hidden;
                        div{
                            display: none;
                        }

                        p{
                            width: 266.203px !important;
                            flex-shrink: 0;
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
}