#trust{
    .container{
        h2{
            color: var(--main-font, #363738);
            font-family: Exo2;
            font-size: 48px;
            font-style: normal;
            font-weight: 600;
            line-height: 125%; /* 60px */
            margin-bottom: 80px;
        }

        .trust-wrapper{
            display: grid;
            grid-template-columns: 184px 184px 184px 184px;
            grid-template-rows: 300px 300px;
            justify-content: space-between;
            row-gap: 20px;
            .card{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                div{
                    bottom: 200px !important;
                    h4{
                        margin-top: 32px;
                        margin-bottom: 14px;
                        color: var(--main-font, #363738);
                        text-align: center;
                        font-family: Exo2;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 135%; /* 27px */
                    }
    
                    p{
                        color: var(--additional-font, #6B6B6C);
                        text-align: center;
                        font-family: PT_Sans;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 150%; /* 21px */
                    }
                }
            }
        }
    }
}



@media only screen and (max-width: 768px) {
    #trust{
        .container{
            h2{
                font-size: 44px;
            }

            .trust-wrapper{
                grid-template-columns: 184px 184px !important;
                grid-template-rows: 250px 250px 250px 250px !important;
                justify-content: center;
                align-items: center;
                column-gap: 200px;
            }
        }
    }
}


@media only screen and (max-width: 375px) {
    #trust{
        .container{
            h2{
                font-size: 28px ;
            }

            .trust-wrapper{
                row-gap: 0;
                column-gap: 0;
                grid-template-columns: 175px 175px !important;
                grid-template-rows: 190px 190px !important;

                .card{
                    div{

                        h4{
                            font-size: 16px;
                        }
                        p{
                            font-size: 12px;
                        }
                    }
                }



                .card:nth-child(5){
                    display: none;
                }
                .card:nth-child(6){
                    display: none;
                }
                .card:nth-child(7){
                    display: none;
                }
                .card:nth-child(8){
                    display: none;
                }
            }
        }
    }
}